/* Estilo base para textos do cabeçalho e rodapé */
.fixed-header .site-title,
.fixed-header .section-title,
.fixed-footer .category-title,
.fixed-footer .project-nav {
    font-family: 'Archivo', sans-serif;
    font-weight: 100; /* Espessura máxima de finura */
    font-size: 1.1rem; /* Tamanho uniforme */
    color: #f4f4f4; /* Cor clara */
    white-space: nowrap; /* Evita quebra de linha nos textos */
}

/* Cabeçalho fixo */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between; /* Elementos nos cantos */
    align-items: top; /* Centraliza verticalmente */
    padding: 0 0px;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0); /* Sombra sutil */
}

/* Rodapé fixo */
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between; /* Elementos nos cantos */
    align-items: end; /* Centraliza verticalmente */
    padding: 0 0px;
    z-index: 1000;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0); /* Sombra invertida */
}

/* Espaços reservados para conteúdo */
main {
    padding-top: 0px; /* Espaço para o cabeçalho fixo */
    padding-bottom: 92px; /* Espaço para o rodapé fixo */
}

/* Container para o vídeo de fundo */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa a altura total da janela */
    overflow: hidden;
}

/* Estilo para o vídeo de fundo */
.video-container video.background-video-canaa-1 {
    position: absolute;
    top: 0; /* Alinha ao topo da tela */
    left: 50%; /* Posiciona no meio horizontal */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 100%; /* O vídeo ocupa toda a largura da tela */
    min-height: 100%; /* Garante que a altura mínima ocupe toda a tela */
    object-fit: cover; /* Cobre a área sem distorcer */
    opacity: 0.88; /* Opacidade ajustada para 0.9 */
    z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}



/* Container para o slideshow */
.slideshow-container {
    display: flex;
    justify-content: center; /* Alinha ao centro horizontal */
    align-items: center; /* Alinha ao centro vertical */
    margin: 100px; /* Deixa o espaço de 300px em cima do conteúdo */
    flex-wrap: wrap; /* Permite que o conteúdo se reorganize quando a tela for menor */
    gap: 20px; /* Adiciona espaçamento entre o vídeo e o texto */
}

/* Container do vídeo */
.video-container-canaa {
    width: 600px; /* Largura fixa para o vídeo */
    height: 600px; /* Altura fixa para o vídeo */
    position: relative; /* Posicionamento para os vídeos */
    overflow: hidden; /* Impede que os vídeos saiam da área do contêiner */
}

/* Estilo dos vídeos dentro do contêiner */
.video-container-canaa video {
    position: absolute; /* Posiciona os vídeos uns sobre os outros */
    top: 0;
    left: 0;
    width: 100%; /* Garante que o vídeo ocupe toda a largura */
    height: 100%; /* Garante que o vídeo ocupe toda a altura */
    object-fit: cover; /* Faz com que o vídeo cubra todo o contêiner, sem distorção */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 1s ease-in-out; /* Transição suave */
}

.video-container-canaa video.active {
    opacity: 1; /* Torna o vídeo ativo visível */
}

/* Caixa de texto */
.text-container-canaa {
    width: 860px; /* Largura fixa da caixa de texto */
    height: 600px; /* Altura fixa de 600px */
    background-color: transparent; /* Remover a cor de fundo */
    border: 1px solid #ccc; /* Bordas cinzas com tamanho de 1px */
    padding: 20px; /* Padding interno da caixa de texto */
    padding-left: 60px; /* Padding maior à esquerda */
    padding-right: 60px; /* Padding maior à direita */
    margin-left: -1px; /* Espaço entre a caixa de texto e o vídeo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow-y: auto; /* Permite rolagem se o conteúdo ultrapassar a altura */
    display: flex; /* Flexbox para alinhar o conteúdo */
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Alinha o conteúdo verticalmente ao centro */
    text-align: left; /* Alinha o texto ao centro */
}

/* Títulos da caixa de texto */
.text-container-canaa h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem; /* Tamanho do título */
    color: #fff; /* Cor do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    letter-spacing: 0.02em; /* Espaçamento entre caracteres */
}

/* Parágrafos dentro da caixa de texto */
.text-container-canaa p {
    font-family: 'Archivo', sans-serif;
    font-size: 1rem; /* Tamanho do texto dos parágrafos */
    font-weight: 100;
    color: #fff; /* Cor do texto */
    line-height: 2; /* Altura da linha para melhorar a legibilidade */
    margin-bottom: 15px; /* Espaçamento entre os parágrafos */
    letter-spacing: 0.02em; /* Espaçamento entre caracteres dos parágrafos */
}

/* Responsividade para telas menores */
@media screen and (max-width: 1200px) {
    .slideshow-container {
        width: 100%; /* Ocupa toda a largura da tela */
        justify-content: space-between; /* Organiza os elementos lado a lado */
    }

    .video-container-canaa {
        width: 50%; /* Ajusta o tamanho do vídeo para 50% da tela */
        height: 50vw; /* Altura proporcional à largura da tela */
    }

    .text-container-canaa {
        width: 50%; /* Ajusta a caixa de texto para 50% da tela */
        height: 50vw; /* Altura proporcional à largura da tela */
        margin-left: 0; /* Remove o espaço à esquerda */
        padding: 40px; /* Ajusta o padding */
        text-align: left; /* Alinha o texto à esquerda */
    }
}

@media screen and (max-width: 768px) {
    .slideshow-container {
        flex-direction: column; /* Organiza os elementos verticalmente em telas muito pequenas */
        gap: 20px; /* Adiciona espaçamento entre o vídeo e o texto */
    }

    .video-container-canaa,
    .text-container-canaa {
        width: 100%; /* Faz com que ambos os elementos ocupem 100% da largura da tela */
        height: auto; /* Ajusta a altura proporcionalmente */
    }

    .text-container-canaa {
        padding: 40px; /* Adiciona padding igual de todos os lados */
        text-align: left; /* Alinha o texto à esquerda em telas menores */
        height: auto; /* Ajusta a altura da caixa de texto */
    }
}


.image-text-section {
    display: flex;
    flex-direction: column; /* Organiza as imagens e o texto em coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
    margin: 100px auto; /* Espaçamento superior e inferior */
    padding: 20px;
    max-width: 90%; /* Limita a largura total da seção */
}

.image-container {
    display: flex; /* Coloca as imagens lado a lado */
    justify-content: center; /* Centraliza as imagens */
    gap: 60px; /* Espaçamento entre as imagens */
    width: 100%; /* O container ajusta-se à largura da tela */
}

.image-container img {
    max-width: 80%; /* Ajusta as imagens proporcionalmente */
    height: auto; /* Mantém a proporção original */
    object-fit: contain; /* Ajusta sem cortar ou distorcer */
}

.image-container .image-600 {
    width: calc(600 / 1527 * 80%); /* Proporção em relação à largura total */
}

.image-container .image-927 {
    width: calc(927 / 1527 * 80%); /* Proporção em relação à largura total */
}

.text-container {
    margin-top: 60px; /* Espaço entre imagens e texto */
    text-align: center; /* Centraliza o texto */
    max-width: 800px; /* Limita a largura do texto */
}

.text-container h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 0.05em; /* 10% do tamanho da fonte */
}

.text-container p {
    font-family: 'Archivo', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #fff;
    line-height: 2;
    letter-spacing: 0em; /* 5% do tamanho da fonte */
}





/* Final Section */
.final-section {
    display: flex; /* Alinha os elementos em linha */
    justify-content: space-between; /* Espaçamento entre os elementos */
    align-items: center; /* Alinha ao centro verticalmente */
    gap: 6px; /* Espaçamento de 6px entre os elementos */
    margin: 40px 0; /* Adiciona um espaçamento em cima e em baixo */
}

/* Galeria de Imagens */
.image-gallery {
    display: grid; /* Usando grid para criar uma grade */
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas */
    grid-template-rows: repeat(2, 1fr); /* Cria 2 linhas */
    gap: 6px; /* Espaçamento de 6px entre as imagens */
    width: 50%; /* Ocupa 50% da largura da seção */
}

.image-gallery img {
    width: 100%; /* A largura das imagens preenche a coluna */
    height: 100%; /* A altura das imagens preenche a linha */
    object-fit: cover; /* Cobre a área sem distorção */
    border-radius: 6px; /* Bordas arredondadas nas imagens */
}

/* Container do vídeo */
.video-container {
    width: 30%; /* Define a largura do vídeo */
    height: 0;
    padding-bottom: 177.77%; /* Proporção de 9:16 para vídeos verticais */
    position: relative;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura do contêiner */
    height: 100%; /* Ocupa toda a altura do contêiner */
    object-fit: cover; /* Cobre o contêiner sem distorcer o vídeo */
}

/* Texto final */
.final-text {
    width: 100%; /* Ocupa toda a largura disponível */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Adiciona um pequeno espaçamento superior */
}

.final-text p {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.6;
    letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
    .final-section {
        flex-direction: column; /* Organiza os elementos em coluna */
        gap: 12px; /* Maior espaçamento entre os elementos */
    }

    .image-gallery {
        width: 100%; /* A galeria ocupa toda a largura */
        grid-template-columns: 1fr; /* Coloca as imagens em uma coluna */
    }

    .video-container {
        width: 100%; /* O vídeo ocupa toda a largura */
        height: auto; /* Ajusta a altura automaticamente */
        padding-bottom: 56.25%; /* Mantém a proporção 16:9 */
    }
}