/* Seção com 3 colunas */
.section {
    display: flex;
    justify-content: space-between;
    padding: 5px; /* Margem mínima */
    background-color: #000;
    min-height: 100vh;
    border-left: 1px solid rgba(255, 255, 255, 0.06); /* Linha de separação à esquerda */
    border-right: 1px solid rgba(255, 255, 255, 0.06); /* Linha de separação à direita */
}

/* Estilo das colunas */
.column {
    padding: 5px; /* Reduzindo o padding */
}

/* A coluna de Contato ficará mais estreita */
.column.contato {
    width: 25%; /* 25% da largura para a coluna de contato */
}

/* A galeria vai ocupar mais espaço */
.column.galeria {
    width: 50%; /* 50% da largura para a galeria */
}

/* A coluna de texto vai ocupar o restante do espaço */
.column.texto {
    width: 25%; /* 25% da largura para a coluna de texto */
}

/* Estilo dos títulos nas colunas */
.column h3 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

/* Lista de contatos */
.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    font-weight: 400;
    font-size: 1.1rem;
    color: #007bff;
    margin: 10px 0;
}

/* Galeria de imagens */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 10px; /* Menor distância entre as imagens */
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border: none; /* Remover borda */
}

.gallery-item h4 {
    margin-top: 6px; /* Alinhamento do texto com 6px de distância da imagem */
    font-size: 0.875rem; /* Título menor */
    font-weight: 400;
    color: #d0d0d0; /* Cor mais clara para o título */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Estilos para o texto da coluna de conteúdo */
.column p {
    font-weight: 400;
    font-size: 1rem;
    color: #bbb;
}
