


/* Espaços reservados para conteúdo */
main {
    padding-top: 0px; /* Espaço para o cabeçalho fixo */
    padding-bottom: 92px; /* Espaço para o rodapé fixo */
    background: linear-gradient(to bottom, #000000 0%, #131313 100%); /* Degradê do preto */
    color: #ebebeb; /* Cor da fonte em cinza claro */
    font-family: 'Archivo', sans-serif; /* Alterado para a fonte Archivo */
}

/* Container para o vídeo de fundo */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa a altura total da janela */
    overflow: hidden;
}
.video-container,
.image-text-section {
    background: transparent; /* Evita a cor de fundo aparecendo entre as seções */
}

div.image-text-section .image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 80px; /* Remover qualquer padding superior desnecessário */
    background: transparent; /* Garantir que o fundo seja transparente */
}
.image-text-section .custom-text-container { /* Classes mais específicas */
    margin-top: 80px;
    text-align: center;
}

.text-container {
    margin-top: 80px; /* Espaço entre imagens e texto */
    text-align: center; /* Centraliza o texto */
    max-width: 900px; /* Limita a largura do texto */
    margin-left: auto;  /* Centraliza o texto horizontalmente */
    margin-right: auto; /* Centraliza o texto horizontalmente */
}


.text-container h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    color: #ececec;
    margin-bottom: 10px;
    letter-spacing: 0.05em; /* 10% do tamanho da fonte */
}

.text-container p {
    font-family: 'Archivo', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #ececec;
    line-height: 2;
    text-align: center;
    letter-spacing: 0em; /* 5% do tamanho da fonte */
}



.title-container-canaa {
    position: absolute;
    top: 50%;
    right: 0; /* Alinha ao lado direito da tela */
    transform: translate(0, 100%); /* Centraliza verticalmente no canto direito */
    text-align: right; /* Alinha o texto à direita */

    padding-top: 10px; /* Adiciona um espaçamento interno */
    padding-bottom: 20px; /* Adiciona um espaçamento interno */
    padding-left: 40px; /* Adiciona um espaçamento interno */
    padding-right: 200px; /* Adiciona um espaçamento interno */
    z-index: 1;
    width: auto; /* A largura do contêiner é determinada pelo tamanho do texto */
    max-width: 90%; /* Limita a largura máxima do contêiner */
}

.title-container-geral {
    position: absolute;
    top: 50%;
    right: 0; /* Alinha ao lado direito da tela */
    transform: translate(0, 100%); /* Centraliza verticalmente no canto direito */
    text-align: right; /* Alinha o texto à direita */
    background-color: rgba(0, 0, 0, 0.666);
    padding-top: 10px; /* Adiciona um espaçamento interno */
    padding-bottom: 20px; /* Adiciona um espaçamento interno */
    padding-left: 40px; /* Adiciona um espaçamento interno */
    padding-right: 40px; /* Adiciona um espaçamento interno */
    z-index: 1;
    width: auto; /* A largura do contêiner é determinada pelo tamanho do texto */
    max-width: 90%; /* Limita a largura máxima do contêiner */
}


/* Estilo para o título principal */
.title-canaa {
    font-family: 'Archivo', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    line-height: 0.95;
    color: rgba(244, 244, 244, 1); /* Opacidade aumentada */
    text-shadow: 0 -0.2em 0.33em rgba(255, 255, 255, 0.6); /* Sombra mais visível e suave */
    letter-spacing: 0.02em;
    white-space: nowrap;
}

/* Estilo para o subtítulo */
.subtitle-canaa {
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8); /* Cor mais acinzentada para o subtítulo */
    margin-top: 10px; /* Espaço entre título e subtítulo */

}

/* Estilo para o vídeo de fundo */
.video-container video.background-video-canaa-1 {
    position: absolute;
    top: 0; /* Alinha ao topo da tela */
    left: 50%; /* Posiciona no meio horizontal */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 100%; /* O vídeo ocupa toda a largura da tela */
    min-height: 100%; /* Garante que a altura mínima ocupe toda a tela */
    object-fit: cover; /* Cobre a área sem distorcer */
    opacity: 0.88; /* Opacidade ajustada para 0.9 */
    z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}





/* Container para o slideshow */
.slideshow-container {
    display: flex;
    justify-content: center; /* Alinha ao centro horizontal */
    align-items: center; /* Alinha ao centro vertical */
    margin: 100px; /* Deixa o espaço de 300px em cima do conteúdo */
    flex-wrap: wrap; /* Permite que o conteúdo se reorganize quando a tela for menor */
    gap: 0px; /* Adiciona espaçamento entre o vídeo e o texto */
}

/* Container do vídeo */
.video-container-canaa {
    width: 600px; /* Largura fixa para o vídeo */
    height: 600px; /* Altura fixa para o vídeo */
    position: relative; /* Posicionamento para os vídeos */
    overflow: hidden; /* Impede que os vídeos saiam da área do contêiner */
}

/* Estilo dos vídeos dentro do contêiner */
.video-container-canaa video {
    position: absolute; /* Posiciona os vídeos uns sobre os outros */
    top: 0;
    left: 0;
    width: 100%; /* Garante que o vídeo ocupe toda a largura */
    height: 100%; /* Garante que o vídeo ocupe toda a altura */
    object-fit: cover; /* Faz com que o vídeo cubra todo o contêiner, sem distorção */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 1s ease-in-out; /* Transição suave */
}

.video-container-canaa video.active {
    opacity: 1; /* Torna o vídeo ativo visível */
}

/* Caixa de texto */
.text-container-canaa {
    width: 860px; /* Largura fixa da caixa de texto */
    min-height: 600px; /* Altura fixa de 600px */
    max-height: 900px; /* Altura fixa de 600px */
    background-color: transparent; /* Remover a cor de fundo */
    border: 1px solid #424242; /* Bordas cinzas com tamanho de 1px */
    padding: 20px; /* Padding interno da caixa de texto */
    padding-left: 60px; /* Padding maior à esquerda */
    padding-right: 60px; /* Padding maior à direita */
    margin-left: -1px; /* Espaço entre a caixa de texto e o vídeo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex; /* Flexbox para alinhar o conteúdo */
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Alinha o conteúdo verticalmente ao centro */
    text-align: left; /* Alinha o texto ao centro */
}

/* Títulos da caixa de texto */
.text-container-canaa h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem; /* Tamanho do título */
    color: #ffffff; /* Cor do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    letter-spacing: 0.02em; /* Espaçamento entre caracteres */
}

/* Parágrafos dentro da caixa de texto */
.text-container-canaa p {
    font-family: 'Archivo', sans-serif;
    font-size: 1rem; /* Tamanho do texto dos parágrafos */
    font-weight: 100;
    color: #ececec;; /* Cor do texto */
    line-height: 2; /* Altura da linha para melhorar a legibilidade */
    margin-bottom: 15px; /* Espaçamento entre os parágrafos */
    letter-spacing: 0.02em; /* Espaçamento entre caracteres dos parágrafos */
}




.image-container {
    display: flex; /* Coloca as imagens lado a lado */
    justify-content: center; /* Centraliza as imagens */
    gap: 60px; /* Espaçamento entre as imagens */
    width: 100%; /* O container ajusta-se à largura da tela */
}

.image-container img {
    max-width: 80%; /* Ajusta as imagens proporcionalmente */
    height: auto; /* Mantém a proporção original */
    object-fit: contain; /* Ajusta sem cortar ou distorcer */
}

.image-container .image-600 {
    width: calc(600 / 1527 * 80%); /* Proporção em relação à largura total */
}

.image-container .image-927 {
    width: calc(927 / 1527 * 80%); /* Proporção em relação à largura total */
}


/* FINAL */
/* Seção final personalizada */
.custom-final-section {
    display: flex; /* Alinha os elementos em linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: stretch; /* Garante que todos os itens tenham a mesma altura */
    gap: 6px; /* Espaçamento de 6px entre a galeria de imagens e o vídeo */
    margin: 40px auto; /* Centraliza a seção e dá um espaçamento em cima e em baixo */
    width: 100%; /* Garante que a seção ocupe toda a largura da tela */
    max-width: 1200px; /* Limita a largura máxima para evitar que os itens se estiquem demais */
}

/* Galeria de Imagens personalizada */
.custom-image-gallery {
    display: grid; /* Usando grid para criar uma grade */
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas */
    grid-template-rows: repeat(2, 1fr); /* Cria 2 linhas */
    gap: 6px; /* Espaçamento de 6px entre as imagens */
    width: 60%; /* Ocupa 50% da largura da seção */
    height: 806px; /* Altura maior para a galeria de imagens */
}

/* As imagens na galeria se ajustam à proporção com base na altura da galeria */
.custom-image-gallery img {
    width: 100%; /* As imagens preenchem a largura das células da grid */
    height: 100%; /* As imagens preenchem a altura das células da grid */
    object-fit: cover; /* Cobre a área sem distorcer */
    border-radius: 6px; /* Bordas arredondadas nas imagens */
}


/* Container do vídeo personalizado */
.custom-video-container {
    width: 40%; /* Define a largura do vídeo */
    height: 806px; /* Altura maior para o vídeo, igual à da galeria de imagens */
    position: relative;
    overflow: hidden;
}

/* Ajuste no vídeo para manter proporção */
.custom-video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura do contêiner */
    height: 100%; /* Ocupa toda a altura do contêiner */
    object-fit: cover; /* Cobre o contêiner sem distorcer o vídeo */
}

/* Alinhamento centralizado do texto */
.custom-final-text,
.text-container-final {
    display: flex; /* Flexbox para centralização */
    justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Garante que ocupe toda a largura da tela */
    margin-top: 20px; /* Adiciona um pequeno espaçamento superior */
    color:#c2c2c2;
}


/*_______________________________SEED _________________________________-*/

.custom-image-gallery-seed {
    display: grid; /* Usando grid para criar uma grade */
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas */
    grid-template-rows: repeat(2, 1fr); /* Cria 2 linhas */
    gap: 6px; /* Espaçamento de 6px entre as imagens */
    width: 80%; /* Ocupa 50% da largura da seção */
    height: 806px; /* Altura maior para a galeria de imagens */
}

/* As imagens na galeria se ajustam à proporção com base na altura da galeria */
.custom-image-gallery img-seed {
    width: 100%; /* As imagens preenchem a largura das células da grid */
    height: 100%; /* As imagens preenchem a altura das células da grid */
    object-fit: cover; /* Cobre a área sem distorcer */
    border-radius: 6px; /* Bordas arredondadas nas imagens */
}

.image-container video {
    height: calc(70vh); /* Altura fixa em relação à viewport */
    max-height: 60%; /* Altura máxima em relação ao contêiner */
    object-fit: cover; /* Ajuste interno para o conteúdo do vídeo */
}

.image-container video.image-600 {
    aspect-ratio: 1 / 1; /* Proporção quadrada */
    width: auto; /* Ajusta automaticamente a largura */
}

.image-container video.image-927 {
    aspect-ratio: 16 / 9; /* Proporção paisagem */
    width: auto; /* Ajusta automaticamente a largura */
}

.video-player-container {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center; /* Centraliza o player, se necessário */
}

.video-player-container video {
    cursor: pointer; /* Indica que o vídeo é clicável */
    width: 100%; /* Ajusta para largura total do contêiner */
    max-width: 1200px; /* Limita o tamanho máximo do vídeo */
    height: auto; /* Mantém a proporção do vídeo */
    border-radius: 8px; /* Opcional: adiciona bordas arredondadas */
}




/* RESPONSIVIDADE */

/* Responsividade para telas menores que 1200px */
@media screen and (max-width: 1200px) {
    .slideshow-container {
        display: flex; /* Usamos flexbox para alinhar os elementos */
        flex-direction: column; /* Empilhando o vídeo e o texto verticalmente */
        justify-content: center; /* Centralizando verticalmente */
        align-items: center; /* Centralizando horizontalmente */
        width: 100%; /* Ocupa toda a largura da tela */
        gap: 20px; /* Espaço entre o vídeo e a caixa de texto */
        text-align: center; /* Garante que o texto da caixa de texto seja centralizado */
    }

    .video-container-canaa,
    .text-container-canaa {
        width: 100%; /* Ambos os elementos ocupam toda a largura da tela */
        height: auto; /* Ajusta a altura automaticamente */
        box-sizing: border-box; /* Inclui padding no cálculo de largura/altura */
    }

    .video-container-canaa {
        max-height: 50vh; /* Define um limite de altura para o vídeo */
        object-fit: cover; /* Ajusta o vídeo para cobrir o espaço sem distorção */
    }

    .text-container-canaa {
        padding: 20px; /* Ajusta o padding */
        text-align: center; /* Garante que o texto dentro de .text-container-canaa seja centralizado */
    }
}

/* Responsividade para telas menores que 768px */
/* Responsividade para telas menores que 768px */
@media screen and (max-width: 768px) {
    /* Container para o slideshow */
.slideshow-container {
    display: flex;
    
    flex-direction: column; /* Empilha o vídeo e o texto verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 100%; /* Ocupa toda a largura da tela */
    gap: -1px; /* Adiciona espaçamento entre o vídeo e o texto */
    text-align: center; /* Centraliza o texto na caixa de texto */
    margin: 0; /* Remove qualquer margem */
    margin-top: 60px;
    padding: 0; /* Remove qualquer preenchimento */
}

/* Ajuste do vídeo */
.video-container-canaa {
    width: 100%; /* O vídeo ocupa toda a largura da tela */
    height: 50vh; /* Define uma altura relativa ao tamanho da tela */
    position: relative;
    overflow: hidden;
}

/* Estilo do vídeo dentro do contêiner */
.video-container-canaa video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* O vídeo ocupa toda a largura */
    height: 100%; /* O vídeo ocupa toda a altura */
    object-fit: cover; /* Ajusta o vídeo para cobrir a área sem distorção */
}

/* Caixa de texto */
.text-container-canaa {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 860px; /* Limita a largura máxima */
    padding: 0px; /* Adiciona preenchimento */
    box-sizing: border-box; /* Inclui padding no cálculo de largura/altura */
    text-align: center; /* Centraliza o texto */
    margin-top: 0px; /* Espaço superior entre o vídeo e o texto */
    
}

/* Título dentro da caixa de texto */
.text-container-canaa h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem; /* Tamanho do título */
    color: #000;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
}

/* Parágrafos dentro da caixa de texto */
.text-container-canaa p {
    font-family: 'Archivo', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: #c2c2c2;
    line-height: 2;
    margin-bottom: 15px;
    letter-spacing: 0.02em;
}
.subtitle-canaa {
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); /* Cor mais acinzentada para o subtítulo */
    margin-top: 10px; /* Espaço entre título e subtítulo */

}
}

